<div class="employeeForm" fxLayout="column" fxlayoutAlign="start start">

    <div fxLayout="row" style="width: 100%;" fxLayoutAlign="space-between start">

        <h2 class="headerName">{{message}}</h2>

        <mat-icon class="close" (click)="closeDialog()">close</mat-icon>
    </div>
    <mat-dialog-actions align="end" style="margin-top: 1em;">
        <button mat-raised-button class="cancelButton" type="button" (click)="closeDialog()">Cancel</button>
        <button mat-raised-button type="submit" (click)="proceed(true)" class="submitButton" color="primary">Proceed</button>
    </mat-dialog-actions>
</div>